{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skills</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-white shadow-sm">
    <div class="container">

        <a class="navbar-brand fw-bold logo" href="/" >
            KRITISH
        </a>

        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#menu">

            <span class="navbar-toggler-icon"></span>

        </button>

        <div class="collapse navbar-collapse" id="menu">

            <ul class="navbar-nav ms-auto">

                <li class="nav-item">
                    <a class="nav-link active" href="/">Home</a>
                </li>

               

                <li class="nav-item">
                    <a class="nav-link" href="/skills/">Skills</a>
                </li>

              
                <li class="nav-item">
                    <a class="nav-link" href="/contact/">Contact</a>
                </li>

            </ul>

        </div>

    </div>
</nav>
<section class = "skills-section">
    <div class = "container">  
        <div class = "heading" > 
            <h6> WHAT I WORK WITH!!!</h6>
            <h1>A Focused Backened ToolKit</h1>
        </div>
        <div class="cards">

            <div class="card-item">
                <i class="fa-brands fa-python"></i>
                <h3>Python</h3>
                <p>Backend development and automation.</p>
            </div>

            <div class="card-item">
                <div class="django-logo">
                            django
                </div>
<br>
                <h3>Django</h3>
                <p>Building secure and scalable web applications.</p>
            </div>

            <div class="card-item">
                <div class="mysql-logo">
    <span class="my">My</span>
    <span class="sql">SQL</span>

    <svg class="mysql-dolphin" viewBox="0 0 100 60">
        <path d="M8 38
                 C18 8,45 5,58 24
                 C66 36,72 44,90 48
                 C79 50,69 53,63 58
                 C56 49,48 45,40 36
                 C32 48,25 42,28 30
                 C18 24,14 18,8 38 Z"/>
    </svg>
</div>
                <h3>MySQL</h3>
                <p>Managing relational databases efficiently.</p>
            </div>

            <div class="card-item">
                <i class="fa-brands fa-github"></i>
                <h3>Git & GitHub</h3>
                <p>Version control and collaboration.</p>
            </div>
            <div class="card-item">
               
                   <img src="{% static 'images/scikit.png' %}" alt="Scikit-learn" class="skill-icon" width = "60" height = "60">
                   <h3>Scikit-learn</h3>
                    <p>Machine learning algorithms, preprocessing, model evaluation.</p>
              
                
            </div>
            
        </div>
    </div>
        
</section>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>